<!-- Chart.js code below (canvas element) -->
<section>
  <div class="padding-20">
  <h1>Search for results by word:</h1>
    <input type="text" placeholder="Word to search for" ng-model="cc.wordIn">
    <md-button class="md-raised" ng-click="cc.soloWordSearch(cc.wordIn)">Search</md-button>
  </div>
  <div class="padding-20">
  <h1>Chart</h1>
  <canvas id="line" class="chart chart-line" chart-data="data" chart-labels="labels" chart-series="series" chart-options="options"
    chart-dataset-override="datasetOverride" chart-click="onClick">
  </canvas>
</div>
</section>