<section>
    <div style="0px 100px 0px 100px" layout="row">
        <div>
            <img src="/images/construction-crane-yellow-cropped.jpg" alt="Speech Builder Logo">
        </div>
        <div class="landing-page-text">
            <h1 class="landing-page-text">Speech Builder</h1>
            <p class="landing-page-text">Speech Builder is a speech therapy application designed to improve and track diction in individuals with speech impediments. It provides curated word lists, progress tracking, and visual displays of progress for patients. To begin using Speech Builder, please login and enter a student name in the navbar to track their progress.</p>
        </div>
        <div flex="20" layout-fill>
        </div>
    </div>
</section>