<section ng-init="lc.getLetters()">
    <div>
        <md-content class="md-padding" layout-xs="column" layout="row">
            <div flex-xs flex-gt-xs="50" layout="row">
                <md-card ng-repeat="letter in lc.lettersList.data">
                    <md-card-title>
                        <!-- <md-card-title-text  style="text-transform: uppercase;">
                            <span class="md-headline">Example 1</span>
                            <span class="md-subhead">Example 2</span>
                        </md-card-title-text> -->
                        <md-card-title-media>
                            <div class="md-media-lg card-media"><img src="/images/{{letter.letter}}.png" alt="{{letter.letter}}"></div>
                        </md-card-title-media>
                    </md-card-title>
                    <md-card-actions layout="row" layout-align="center center">
                        <md-button>See Words</md-button>
                    </md-card-actions>
                </md-card>
            </div>
        </md-content>
    </div>
</section>