<div ng-controller="AuthController as nc" ng-cloak>
    <md-content class="md-padding">
        <md-nav-bar md-selected-nav-item="nc.currentNavItem" nav-bar-aria-label="navigation links">
            <md-nav-item md-nav-href="#/home" name="home" value="home">
                Home
            </md-nav-item>
            <md-nav-item md-nav-href="#/word" name="word" value="word">
                Word Lookup
            </md-nav-item>
            <md-nav-item md-nav-href="#/letters" name="letters" value="letters">
                letters
            </md-nav-item>
            <md-nav-item md-nav-href="#/wordlist" name="wordlist" value="wordlist">
                Word List
            </md-nav-item>
            <md-nav-item md-nav-href="#/login" name="login" value="login" aria-label="Log In">
                Login/Logout
            </md-nav-item>
        </md-nav-bar>
    </md-content>
</div>