<div ng-controller="NavBarController as nc" ng-cloak>
    <md-content class="md-padding">
        <md-nav-bar md-selected-nav-item="nc.currentNavItem" nav-bar-aria-label="navigation links">
            <md-nav-item md-nav-href="#/" name="/" value="home" aria-label="Home">
                Home
            </md-nav-item>
            <md-nav-item md-nav-href="#/wordLookup" name="/wordLookup" value="wordSearch"  aria-label="Word Lookup">
                Word Search
            </md-nav-item>
            <md-nav-item md-nav-href="#/wordlist" name="/wordlist" value="wordlist" aria-label="Word List">
                Word Lists
            </md-nav-item>
            <md-nav-item md-nav-href="#/reporting" name="/reporting" value="reporting" aria-label="Reporting">
                Reports
            </md-nav-item>
            <md-nav-item md-nav-href="#/chart" name="/chart" value="chart" aria-label="Chart">
                Single Word Charts
            </md-nav-item>
            <md-nav-item md-nav-href="#/group" name="/group" value="group" aria-label="group">
                Session Summary Charts
            </md-nav-item>
            <!-- <md-nav-item md-nav-href="#/privateData" name="/privateData" value="privateData" aria-label="Authorization Testing">
                Auth Test
            </md-nav-item> -->
            <md-nav-item md-nav-href="#/login" name="/login" value="login" aria-label="Log In">
                Login/Logout
            </md-nav-item>
            <!-- <md-nav-item md-nav-href="#/logout" name="/logout" value="logout" aria-label="Log Out">
                Logout
            </md-nav-item> -->
            <md-nav-item md-nav-href="#/thanks" name="/thanks" value="thanks" aria-label="Thank you page">
                Special Thanks
            </md-nav-item>
            <md-input-container flex="15">
                <label>Student Name</label>
                <input name="name" ng-model="nc.student.name">
            </md-input-container>
            <md-button style="margin:0;padding:0;height:48px;" ng-click="nc.trackStudent(nc.student.name)">Track</md-button>
        </md-nav-bar>
    </md-content>
</div>