<div ng-controller="NavBarController as nc" ng-cloak>
    <md-content class="md-padding">
        <md-nav-bar md-selected-nav-item="nc.currentNavItem" nav-bar-aria-label="navigation links">
            <md-nav-item md-nav-href="#/" name="home" value="home" aria-label="Home">
                Home
            </md-nav-item>
            <md-nav-item md-nav-href="#/wordLookup" name="wordSearch" value="wordSearch"  aria-label="Word Lookup">
                Word Lookup
            </md-nav-item>
            <md-nav-item md-nav-href="#/letters" name="letters" value="letters" aria-label="Letters">
                letters
            </md-nav-item>
            <md-nav-item md-nav-href="#/wordlist" name="wordlist" value="wordlist" aria-label="Word List">
                Word List
            </md-nav-item>
            <!-- <md-nav-item md-nav-href="#/reporting" name="reporting" value="reporting" aria-label="Reporting">
                Reporting
            </md-nav-item> -->
            <md-nav-item md-nav-href="#/privateData" name="privateData" value="privateData" aria-label="Authorization Testing">
                Auth Test (Private Data)
            </md-nav-item>
            <md-nav-item md-nav-href="#/login" name="login" value="login" aria-label="Log In or Log Out">
                Login/Logout
            </md-nav-item>
        </md-nav-bar>
    </md-content>
</div>