<section>
    <md-content layout-padding>
        <form name="reportingForm" ng-submit="submit()">
            <div layout="row">
                <md-input-container flex="50">
                    <label>Student Name</label>
                    <input name="name" ng-model="rc.report.name">
                </md-input-container>

                <md-input-container flex="50">
                    <label>Study Word</label>
                    <input name="word" ng-model="rc.report.word">
                </md-input-container>
            </div>
            <div layout="row">
                <div layout="column">
                    <md-radio-group ng-model="rc.report.attempt1">
                        <md-radio-button value="satisfactory">Satisfactory</md-radio-button>
                        <md-radio-button value="prompted"> Prompted </md-radio-button>
                        <md-radio-button value="unsatisfactory">Unsatisfactory</md-radio-button>
                        <md-radio-button value="na">N/A</md-radio-button>
                    </md-radio-group>
                    <hr />
                    <md-radio-group ng-model="rc.report.attempt2">
                        <md-radio-button value="satisfactory" class="md-primary">Satisfactory</md-radio-button>
                        <md-radio-button value="prompted"> Prompted </md-radio-button>
                        <md-radio-button value="unsatisfactory" class="md-warn">Unsatisfactory</md-radio-button>
                        <md-radio-button value="na">N/A</md-radio-button>
                    </md-radio-group>
                    <hr />
                    <md-radio-group ng-model="rc.report.attempt3">
                        <md-radio-button value="satisfactory" class="md-primary">Satisfactory</md-radio-button>
                        <md-radio-button value="prompted"> Prompted </md-radio-button>
                        <md-radio-button value="unsatisfactory">Unsatisfactory</md-radio-button>
                        <md-radio-button value="na">N/A</md-radio-button>
                    </md-radio-group>
                    <hr />
                    <md-radio-group ng-model="rc.report.attempt4">
                        <md-radio-button value="satisfactory" class="md-primary">Satisfactory</md-radio-button>
                        <md-radio-button value="prompted"> Prompted </md-radio-button>
                        <md-radio-button value="unsatisfactory">Unsatisfactory</md-radio-button>
                        <md-radio-button value="na">N/A</md-radio-button>
                    </md-radio-group>
                    <hr />
                    <md-radio-group ng-model="rc.report.attempt5">
                        <md-radio-button value="satisfactory" class="md-primary">Satisfactory</md-radio-button>
                        <md-radio-button value="prompted"> Prompted </md-radio-button>
                        <md-radio-button value="unsatisfactory">Unsatisfactory</md-radio-button>
                        <md-radio-button value="na">N/A</md-radio-button>
                    </md-radio-group>
                    <hr />
                    <md-radio-group ng-model="rc.report.attempt6">
                        <md-radio-button value="satisfactory" class="md-primary">Satisfactory</md-radio-button>
                        <md-radio-button value="prompted"> Prompted </md-radio-button>
                        <md-radio-button value="unsatisfactory">Unsatisfactory</md-radio-button>
                        <md-radio-button value="na">N/A</md-radio-button>
                    </md-radio-group>
                    <hr />
                    <md-radio-group ng-model="rc.report.attempt7">
                        <md-radio-button value="satisfactory" class="md-primary">Satisfactory</md-radio-button>
                        <md-radio-button value="prompted"> Prompted </md-radio-button>
                        <md-radio-button value="unsatisfactory">Unsatisfactory</md-radio-button>
                        <md-radio-button value="na">N/A</md-radio-button>
                    </md-radio-group>
                    <hr />
                    <md-radio-group ng-model="rc.report.attempt8">
                        <md-radio-button value="satisfactory" class="md-primary">Satisfactory</md-radio-button>
                        <md-radio-button value="prompted"> Prompted </md-radio-button>
                        <md-radio-button value="unsatisfactory">Unsatisfactory</md-radio-button>
                        <md-radio-button value="na">N/A</md-radio-button>
                    </md-radio-group>
                    <hr />
                    <md-radio-group ng-model="rc.report.attempt9">
                        <md-radio-button value="satisfactory" class="md-primary">Satisfactory</md-radio-button>
                        <md-radio-button value="prompted"> Prompted </md-radio-button>
                        <md-radio-button value="unsatisfactory">Unsatisfactory</md-radio-button>
                        <md-radio-button value="na">N/A</md-radio-button>
                    </md-radio-group>
                    <hr />
                    <md-radio-group ng-model="rc.report.attempt10">
                        <md-radio-button value="satisfactory" class="md-primary">Satisfactory</md-radio-button>
                        <md-radio-button value="prompted"> Prompted </md-radio-button>
                        <md-radio-button value="unsatisfactory">Unsatisfactory</md-radio-button>
                        <md-radio-button value="na">N/A</md-radio-button>
                    </md-radio-group>
                </div>
            </div>

            <md-input-container class="md-block">
                <label>Summary & Notes</label>
                <textarea ng-model="rc.report.summary" md-maxlength="900" rows="5" md-select-on-focus></textarea>
            </md-input-container>

            <div>
                <md-button class="md-raised md-primary" type="submit">Submit</md-button>
            </div>
        </form>
    </md-content>
</section>