<section>
    <md-grid-list md-cols-xs="1" md-cols-sm="2" md-cols-md="4" md-cols-gt-md="6" md-row-height-gt-md="1:1" md-row-height="2:2"
        md-gutter="12px" md-gutter-gt-sm="8px">

        <md-grid-tile class="yellow" md-rowspan="1" md-colspan="2" md-colspan-sm="1" md-colspan-xs="1">
            <a ng-href="http://www.oed.com">
                <img class="logo" src="/images/oed-logo.png" alt="Oxford English Dictionary Logo">
            </a>
            <md-grid-tile-footer>
                <h3>Oxford English Dictionary</h3>
            </md-grid-tile-footer>
        </md-grid-tile>

        <md-grid-tile class="gray">
            <a ng-href="https://www.merriam-webster.com">
                <img class="logo" src="/images/mw-logo.png" alt="Marriam Webster Dictionary Logo">
            </a>
            <md-grid-tile-footer>
                <h3>Marriam-Webster Dictionary</h3>
            </md-grid-tile-footer>
        </md-grid-tile>

        <md-grid-tile class="purple">
            <md-grid-tile-footer>
                <h3>Sarah Falcon</h3>
            </md-grid-tile-footer>
        </md-grid-tile>

        <md-grid-tile class="blue" md-rowspan="2">
            <md-grid-tile-footer>
                <h3>Melissa Niemi</h3>
            </md-grid-tile-footer>
        </md-grid-tile>

        <md-grid-tile class="deepBlue" md-rowspan="2" md-colspan="2" md-colspan-sm="2" md-colspan-xs="2">
            <a ng-href="http://www.marmoset.co">
                <img class="logo" src="/images/hexels-logo.png" alt="">
            </a>
            <md-grid-tile-footer>
                <h3>Marmoset Company</h3>
            </md-grid-tile-footer>
        </md-grid-tile>

        <md-grid-tile class="red" md-rowspan="1" md-colspan="1" md-colspan-sm="1" md-colspan-xs="2">
            <a href="http://github.com/ericbfriday/speech-builder">
                <img style="opacity: .54;" layout-fill src="/images/github-large.png" alt="Github">
            </a>
            <md-grid-tile-footer>
                <h3>Contribute</h3>
            </md-grid-tile-footer>
        </md-grid-tile>

    </md-grid-list>
</section>