<section id="thanks-page">
    <div layout="row" layout-align="center center">
        <h1>Special Thanks</h1>
    </div>
    <!-- <div flex="33" layout-fill></div> -->
    <div layout-fill class="thanksLinks" layout="column" layout-align="center center">
        <div layout="row"><div class="thanksDivs">Oxford English Dictionary</div><div>Provided definitions, pronunciations, and MP3s.</div></div>
        <div layout="row"><div class="thanksDivs">Sarah </div><div class="thanksDivs">Special Education Teacher</div></div>
        <div layout="row"><div class="thanksDivs">Melissa Niemi</div><div class="thanksDivs">Speech Pathologist</div></div>
        <div layout="row"><div class="thanksDivs">Marmoset</div><div>Provided Hexels 3 software for logo & letter designs.<a ng-href="http://www.marmoset.co"><img  style="opacity: 0%" src="/images/hexels-logo.png" alt="Hexels by Marmoset Company"></a></div><div></div></div>
    </div>
    <!-- <div flex="33" layout-fill></div> -->
    <div class="thanksLinks" layout="row" layout-align="center center">
        <h1>Contribute</h1>
        <a href="http://github.com/ericbfriday/speech-builder">
            <img src="/images/github-large.png" alt="Github">
        </a>
    </div>
</section>