<section class="padding-20">
  <!-- Audio Testing -->

  <input type="text" placeholder="Word to search for" ng-model="wc.wordIn">
  <md-button ng-click="wc.wordSearch(wc.wordIn)">Search</md-button>
  <hr>
  <h1>Phonetic Spelling</h1>
  <p ng-repeat="pronunciations in wc.word.data.lexicalEntries">{{pronunciations}}</p>
  <hr>
  <!-- URL for MP3 Extraction -->
  <h1>Audio</h1>
  <span flex></span>
  <md-button ng-click="wc.playAudio()">Play Pronunciation</md-button>
  <hr>
  <!-- Definition Lookup -->
  <h1>Definition</h1>
  <ul>
    <div class="definition" ng-repeat="def in wc.definitions.data">
      <li>{{def}}.</li>
    </div>
  </ul>
</section>