<section class="padding-20" ng-init="wc.getOpportunities(wc.studyWord)">
  <md-content>
    <md-card>
      <md-card-title>
        <md-card-title-text>
          <input type="text" placeholder="Word to search for" ng-model="wc.wordIn">
          <md-button class="md-raised" ng-click="wc.wordSearch(wc.wordIn)">Search</md-button>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
      <h1>Phonetic Spelling</h1>
      <p>{{wc.phoneticSpelling.data}}</p>
      <hr>
      <h1>Audio</h1>
      <span flex></span>
      <md-button ng-click="wc.playAudio()">Play Pronunciation</md-button>
      <hr>
      <!-- Definition Lookup -->
      <h1>Definition</h1>
      <ul>
        <div class="definition" ng-repeat="def in wc.definitions.data">
          <li>{{def}}.</li>
        </div>
      </ul>
      <hr>
      <h1>Opportunity Reporting</h1>
      <div class="opportunity Reporting">
          <md-button ng-click="wc.opportunityReport('satisfactory')">Satisfactory({{wc.progress.satisfactory}})</md-button><md-button ng-click="wc.opportunityReport('prompted')">Prompted({{wc.progress.prompted}})</md-button><md-button ng-click="wc.opportunityReport('unsatisfactory')">Unsatisfactory({{wc.progress.unsatisfactory}})</md-button><br>
          <span style="padding: 0px 0px 0px 14px;">Total Attempts: {{wc.progress.totalAttempts}}</span>
      </div>
    </md-card-content>
    </md-card>
  </md-content>
</section>