<md-dialog aria-label="Word details">
    <form ng-cloak ng-controller="WordController as wc">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 style="text-transform: uppercase;">{{wc.studyWord}}</h2>
                <span flex></span>
                <!-- <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
              </md-button> -->
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content"> <!-- is this necessary with the current wrapper? -->
                <h3>Phonetic Spelling</h3>
                <p>{{wc.phoneticSpelling.data}}</p>
                <hr>
                <!-- Play audio button below. -->
                <h3>Audio</h3>
                <span flex></span><md-button ng-click="wc.playAudio()">Play Pronunciation</md-button>
                <hr>
                <!-- Definition Lookup -->
                <h3>Definition</h3>
                <ul>
                <div class="definition" ng-repeat="def in wc.definitions.data"><li>{{def}}.</li></div>
                </ul>
                <hr>
                <!-- Word Success Tracking -->
                <h3>Opportunity Reporting</h3>
                <div class="tracking-popup">
                    <md-button ng-click="wc.opportunityReport('satisfactory')">Satisfactory({{wc.progress.satisfactory}})</md-button><md-button ng-click="wc.opportunityReport('prompted')">Prompted({{wc.progress.prompted}})</md-button><md-button ng-click="wc.opportunityReport('unsatisfactory')">Unsatisfactory({{wc.progress.unsatisfactory}})</md-button><br>
                    <span style="padding: 0px 0px 0px 15px;">Total: {{wc.progress.totalAttempts}}</span>
                </div>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="done()">
                Done
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>