<section>
  <!-- Audio Testing -->

  <input type="text" placeholder="Word to search for" ng-model="wc.wordIn">
  <button ng-click="wc.wordSearch(wc.wordIn)">Search</button>
  <hr>
  <h1>Phonetic Spelling</h1>
  <p ng-repeat="pronunciations in wc.word.data.lexicalEntries">{{pronunciations}}</p>
  <hr>
  <!-- URL for MP3 Extraction -->
  <h1>Audio</h1>
  <p>{{wc.mp3URL.data}}</p>
  <hr>
  <!-- <audio controls>
      <source id="player" ng-src="{{wc.mp3URL.data}}" type="audio/mpeg"> Your browser does not support the audio element.
    </audio> -->
    <div ng-repeat="audio in event.audios">
        <div audios code="audio"></div>
    </div>
  <hr>
  <!-- Definition Lookup -->
  <h1>Definition</h1>
  <div ng-repeat="def in wc.definitions.data">{{def}}</div>
</section>