<md-dialog aria-label="{{word}} details">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{wlc.word}}</h2>
                <span flex></span>
                <!-- <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
              </md-button> -->
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <h2>Big words are awesome to read!</h2>
                <p>Words in the main area</p>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="answer('useful')">
                Done
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>