/* md-nav-bar.md-default-theme .md-nav-bar, md-nav-bar .md-nav-bar{
    background-color: cyan;
} */

.landing-page-text {
    padding: 20px 20px 20px 20px;
}

.md-padding {
    padding: 0px 0px 16px 0px;
}

.private-data-text {
    margin:  20px 20px 20px 20px;
}

.padding-20 {
    padding: 20px 20px 20px 20px;
}

md-card:hover {
    box-shadow: 0 2px 2px 2px rgba(0,0,0,.2), 0 8px 8px 0 rgba(0,0,0,.14), 0 8px 8px 0 rgba(0,0,0,.12) !important;
    transform: translate3d(0,0,0);
    transition: background .4s cubic-bezier(.25,.8,.25,1),box-shadow 280ms cubic-bezier(.4,0,.2,1);
}

._md-nav-button:hover {
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,.2), 0 8px 8px 0 rgba(0,0,0,.14), 0 8px 8px 0 rgba(0,0,0,.12) !important;
    transform: translate3d(0,0,0);
    transition: background .4s cubic-bezier(.25,.8,.25,1),box-shadow 280ms cubic-bezier(.4,0,.2,1);
}